#issues{
  padding: 0 10px;

  .panel-body {
    padding: 0 !important;
  }

  .state {
    font-size: 20px;
    padding-top: 1px;
  }

  .fa-comment {
    font-size: 16px;
    padding-top: 12px;
    white-space: nowrap;
  }
  label {
    margin-bottom: 0 !important;
  }
  td:first-child {
    padding: 15px 0 15px 15px !important;
  }
  td:last-child {
    padding: 15px 15px 0 12px !important;
  }
  td {
    padding: 15px 10px 15px 12px;
  }


}

.issue-subject {
  font-weight: bold;
  font-size: 15px;
  color: #444;
}
.issue-meta {
  font-weight: normal;
  font-size: 13px;
  color: #999;
}