.richtext-editor {
  max-height: 300px;
  height: 300px;
  margin: 6px 0 6px 0;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

.fileuploading::before {
  content: attr(data-loading);
}

.span2{
  display: inline-block;
}

.input-append {
  padding: 5px;
  min-width: 237px;
}

.queue {
  width: 500px;
  padding-top: 2px;
}
#message {
  max-height: 180px;
  height: 180px;
  margin-bottom: 10px;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}